$dark-grey: #262626;

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 4fr;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  background-color: $dark-grey;
  padding: 2vw;
  color: white;
  h2 {
    font-size: 3vw;
  }
  a {
    text-decoration: none;
    color: white;
    padding: 1vw 3vw;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
      background-color: rgb(92, 2, 56);
    }
  }
  .search-input {
    border: none;
    border-radius: 40px;
    width: 60%;
    height: fit-content;
    padding: 1vw;
    &:focus {
      outline: 0;
    }
  }
}
